footer {
    background: #EDEDED;
    border-bottom: none;
    border-radius: 0;
}

    footer ul {
        margin: 12px 0;
        padding: 12px 0;
        list-style: none;
        font-size: 24px;
        text-align: center;
        height: 100%;
        box-sizing: border-box; 
        color: #f7ad4c;
    }
        footer ul li a {
            text-decoration: none;
            color: #f7ad4c;
        }

            footer ul li a:hover {
                text-decoration: none;
                color: #5C9EB6;
            }