.navbar-inverse {
    background: #FFFFFF;
    border-bottom: 1px #5C9EB6 solid;
    border-top: none;
    border-radius: 0;
}

.navbar-loginform {
    margin-top: 8px;
}

/*.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-nav > li > a:focus {
    color: #f7ad4c;
}*/

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: #5C9EB6;
}

    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-nav > li > a:hover,
    .navbar-inverse .navbar-brand:focus,
    .navbar-inverse .navbar-nav > li > a:focus {
        color: #f7ad4c;
    }