body {
    background: #EDEDED;
}
body * {
    font-family: 'Roboto', sans-serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

section {
    height: 100%;
    margin-bottom: 24px;
}


.btn {
    background-color: #5C9EB6;
    border-color: #5C9EB6;
}

    .btn:hover {
        background-color: #4f90a8;
        border-color: #f7ad4c;
        color: #ffffff;
    }

.form-control:focus {
    border-color: #f7ad4c;
}

.action-button {
    box-sizing:border-box;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    padding:0;
}

h1, h2, h3, h4 {
    cursor: default;
    color: #f7ad4c;
}


/**HP*/

section.slider {
    border-bottom: 1px solid #f7ad4c;
}
h1 {
    font-size: 42px;
    text-align: center;
    margin-bottom: 24px;
}

    h1 span {
        font-size: 20px;
        display: block;
    }

.actions-container {
    
    text-align: center;
    
}
    .actions-container .action-buttons {
        text-align: center;
    }
    .actions-container .action-buttons a {
        display: block;
        margin: 0 auto 16px;
    }


/*HP ends*/

div.quest-container {
    width: 300px;
    background: #f7d5a8;
    border: 1px solid #f7ad4c;
    margin-bottom: 16px;
    padding: 16px 0;
    text-align: center;
    font-size: 16px;
}

    div.quest-container p {
        color: #3276b1;
    }

.pobutton {
    margin-bottom:24px;
}