body * {
    font-family: 'Roboto', sans-serif !important;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

section {
    height: 100%;
}

.btn {
    background-color: #5C9EB6;
    border-color: #5C9EB6;
}

    .btn:hover {
        background-color: #4f90a8;
        border-color: #f7ad4c;
        color: #ffffff;
    }

.form-control:focus {
    border-color: #f7ad4c;
}

.action-button {
    box-sizing:border-box;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    padding:0;
}

div.quest-container {
    border: 1px solid #aaaaaa;
}