@{
    ViewBag.Title = "Home Page";
}

<section>
    <h1>
        Sprint Planer Homepage
    </h1>
    @Html.ActionLink("Zobacz użytkowinków", "Index", "User")
    @Html.ActionLink("Stwórz użytkownika", "Create", "User")


</section>