@{
    ViewBag.Title = "Home Page";
}

<section>
    <h1>
        Sprint Planer Homepage
    </h1>
    @Html.ActionLink("Zobacz użytkowinków", "Index", "User", null, new { @class = "btn action-button" })
    @Html.ActionLink("Stwórz użytkownika", "Create", "User", null, new { @class = "btn action-button" })


</section>